*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--white);
}

h1 {
    color: var(--pink);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

main{
    background-color: var(--dark-blue);
}

header {
    padding: 95px 0px var(--space2) 0px;
}