:root {
/* Color styles */
    --white: rgba(241, 243, 230, 1);
    --pink: rgba(247, 175, 157, 1);
    --dark-blue: rgba(42, 60, 77, 1);
    --light-blue: rgba(59, 86, 110, 1);
    --blue: rgba(48, 69, 88, 1);

    /* Text-size styles */
/* Text-size styles */
    --h1: 64px;
    --h2: 48px;
    --h3: 36px;
    --body: 24px;
    --body-taller: 32px;
    --body-small: 18px;
    --btn: 28px;

    --semibold: 600; 

    --font-sans-serif: "Raleway", sans-serif;

    --space1: 48px;
    --space2: 64px;
    --space3: 72px;
    --space4: 96px;
    --space5: 128px;
}