:root {
    /* Color styles */
    --white: rgba(241, 243, 230, 1);
    --pink: rgba(247, 175, 157, 1);
    --dark-blue: rgba(42, 60, 77, 1);
    --light-blue: rgba(59, 86, 110, 1);
    --blue: rgba(48, 69, 88, 1);
    --red: rgba(255, 63, 63, 1);

    --circlePink: #F79DEE;
    --circleWhite: #F1F3E6;
    --circleBlue: #AAD2F8;
    --circleOrange: #F7AF9D;

    /* Text-size styles */

    --h1: 50px;
    --h2: 42px;
    --h3: 30px;
    --body: 21px;
    --body-taller: 24px;
    --body-small: 14px;
    --btn: 22px;

    --semibold: 600;
    --bold: 700;

    --uppercase: uppercase;

    --font-sans-serif: "Raleway", sans-serif;
    --space0: 32px;
    --space1: 40px;
    --space2: 56px;
    --space3: 64px;
    --space4: 88px;
    --space5: 120px;
    --spaceside: 153px
}