.header {
    padding: var(--space2) var(--spaceside) var(--space5) var(--spaceside);
    background-color: var(--dark-blue);
}

.header--landing-page {
    padding: var(--space2) var(--spaceside);
}

@media screen and (max-height: 800px) {
    .header--landing-page {
        padding: var(--space1) var(--spaceside);
    }
}

.header--paragraph {
    padding: 0px;
}