.header {
    padding: var(--space2) 153px var(--space5) 153px;
    background-color: var(--dark-blue);
}

.header--landing-page {
    padding: var(--space2) 153px;
}

.header--paragraph {
    padding: 0px;
}