.header {
    padding: var(--space2) var(--spaceside) var(--space5) var(--spaceside);
    background-color: var(--dark-blue);
}

.header--landing-page {
    padding: var(--space2) var(--spaceside);
}

.header--paragraph {
    padding: 0px;
}