.section {
    padding: var(--space2) 153px;
}

.section--top {
    padding: 0px 153px 28px 153px;
}

.section--pink {
    padding: var(--space3) 153px;
    background-color: var(--white);
    color: var(--dark-blue);
}

.section__title {
    font-size: var(--h2);
    font-weight: var(--semibold);
    padding-bottom: var(--space3);
}

.section__text {
    font-size: var(--body-taller);
    font-weight: var(--semibold);
    text-align: center;
}

.section__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space2);
    justify-content: center;
    align-items: center;
}

.section__content--left {
    grid-template-columns: 1fr 2fr;
}

.section__content--center {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.content__center {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space1);
}

.section__content--two {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
    gap: var(--space4);
}
