.btn {
    padding: 10px 40px;
    background-color: var(--pink);
    border-radius: 5px;
}

.btn__text {
    color: var(--dark-blue);
    font-size: var(--btn);
    font-weight: var(--bold);
    text-transform: var(--uppercase);
}