#circle_purple {
    .cls-1 {
        fill:var(--circlePink);
        stroke-width: 0px;
    }
}

#circle_white {
    .cls-1 {
        fill:var(--circleWhite);
        stroke-width: 0px;
    }
}

#circle_blue {
    .cls-1 {
        fill:var(--circleBlue);
        stroke-width: 0px;
    }
}

#circle_orange {
    .cls-1 {
        fill: var(--circleOrange);
        stroke-width: 0px;
    }
}

@keyframes colorChangePinkToBlue {

    0%,
    100% {
        fill: var(--circlePink);
    }

    50% {
        fill: var(--circleBlue);
    }
}

@keyframes colorChangeWhiteToOrange {

    0%,
    100% {
        fill: var(--circleWhite);
    }

    50% {
        fill: var(--circleOrange);
    }
}

#circle_purple,
#circle_white,
#circle_blue,
#circle_orange {
    filter: blur(110px);
    opacity: 35%;
    height: auto;
    min-width: 15vw;
    z-index: -1;
    position: absolute;
}

#circle_purple {
    max-width: 30vw;
    top: -70vh;
    left: -150px;
}

#circle_purple {
    .cls-1 {
        animation: colorChangePinkToBlue 5s infinite alternate;
    }
}

#circle_white {
    max-width: 25vw;
    top: -50vh;
    right: 0px;
}

#circle_blue {
    opacity: 40%;
    max-width: 15vw;
    bottom: -15vh;
    left: -60px;
}

#circle_orange {
    max-width: 20vw;
    bottom: -20vh;
    right: 0px;
}

#circle_orange {
    .cls-1 {
        animation: colorChangeWhiteToOrange 5s infinite alternate;
    }
}