.list {
    display: flex;
    flex-direction: column;
    gap: var(--space1);
}

.list__item {
    display: grid;
    grid-template-columns: 64px auto;
    gap: var(--space1);
    align-items: center;
    justify-content: center;
}

.list__policy {}

.list__policy--number {
    display: flex;
    flex-direction: column;
    gap: 36px;
}